.royal{
    height: 200px;
    width : 300px;
    border: 1px solid black;
   background-image: url(https://5.imimg.com/data5/SELLER/Default/2023/6/320145536/UJ/BL/QH/810622/indian-national-flag.webp);
   background-size: cover;
}